### {{ entry.arxiv_id }}

Links:

- [ ] [{{ entry.arxiv_id }}]({{ entry.arxiv_url }})

Title:  {{ entry.title }}

Authors:  {% for author in entry.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}

Abstract:
> [!quote]- Abstract
{% for line in entry.abstract.split('\n') %}
> {{ line | e | replace('[[', '$[[') | replace(']]', ']]$') }}
{%- endfor %}


