### {{ entry.doi }}

Links:

- [ ] [{{ entry.doi }}]({{ entry.doi_url }})

Title:  {{ entry.title }}

{% if entry.toc_image_url %}
![|700]({{ entry.toc_image_url }})
{% endif %}
Authors:  {% for author in entry.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}

{% if entry.abstract %}
Abstract:
> [!quote]- Abstract
{% for line in entry.abstract.split('\n') %}
> {{ line | e | replace('[[', '$[[') | replace(']]', ']]$') }}
{%- endfor %}

{% endif %}
